@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,500&display=swap");

:root {
  --primary-color: #d14040;
  --primary-color-dark: #7cbd13;
  --secondary-color: #c7f6f1;
  --text-dark: #282d31;
  --text-light: #0ff513;
  --extra-light: #f3f4f6;

  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.sec_contain {
  padding: 5rem 1rem;
  max-width: var(--max-width);
  margin: auto;
}

.sec_title {
  font-size: 2rem;
  font-weight: 500;
  color: var(--primary-color);
  margin-bottom: 1rem;
  text-align: center;
}

.sec_sbtitle {
  font-size: 1rem;
  font-style: italic;
  color: var(--primary-color);
  margin-bottom: 5rem;
  text-align: center;
}

img {
  width: 100%;
}

body {
  font-family:Coco;
  
}

nav {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 2rem 1rem;
  width: 100%;
  max-width: var(--max-width);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-logo a {
  text-decoration: none;
  color: var(--extra-light);
  font-size: 1.5rem;
  
}

.nav-link {
  display: none;
  list-style: none;
  align-items: center;
  gap: 2rem;
}

.link {
  color: var(--extra-light);
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s;
}

.link:hover {
  color: var(--primary-color);
}

header {
  height: 100vh;
  background-image: linear-gradient(
      rgba(45, 92, 132, 0.5),
      rgba(45, 92, 132, 0.5)
    ),
    url("figures/bg1.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

header .sec_contain {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.head {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  color: var(--extra-light);
}

.head h1 {
  font-size: 5rem;
  font-weight: 400;
  line-height: 5rem;
}

.head p {
  text-align: center;
}

.head button {
  padding: 1rem 2rem;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: var(--extra-light);
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.head button:hover {
  background-color: var(--primary-color-dark);
}

.journey_contain {
  background-color: var(--secondary-color);
}

.journey_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.cntry_board {
  background-color: var(--extra-light);
}

.cntry_name {
  padding: 1rem;
  text-align: left;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--text-light);
  cursor: pointer;
}

.cntry_name i {
  font-size: 1.2rem;
}

.cntry_name span {
  font-style: italic;
}

.ban_contain {
  background-image: linear-gradient(
      rgba(35, 71, 103, 0.5),
      rgba(35, 71, 103, 0.5)
    ),
    url("figures/bg2.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.ban_contain .sec_contain {
  padding: 10rem 1rem;
  display: flex;
  justify-content: center;
}

.ban_content {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
  text-align: center;
  color: var(--extra-light);
}

.ban_content h2 {
  font-size: 2rem;
  font-weight: 400;
}

.ban_content button {
  padding: 0.5rem 2rem;
  outline: none;
  border: 2px solid var(--secondary-color);
  background-color: transparent;
  color: var(--secondary-color);
  font-size: 1rem;
  cursor: pointer;
}

.show_contain {
  background-color: var(--secondary-color);
}

.show_contain :is(.sec_title, .sec_sbtitle) {
  color: var(--text-dark);
}

.show_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.show_board {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
  background-color: var(--extra-light);
  text-align: center;
}

.show_board i {
  font-size: 2rem;
  color: var(--primary-color);
}

.show_board h4 {
  font-size: 1rem;
  font-weight: 500;
  padding: 0 1rem;
  color: var(--text-dark);
}

.show_board p {
  font-size: 0.8rem;
  padding: 0 1rem;
  color: var(--text-dark);
}

.show_grid .grid-1 {
  grid-area: 1/1/3/3;
}

footer {
  background-color: var(--text-dark);
  color: var(--secondary-color);
}

footer .sec_contain {
  display: grid;
  gap: 1.5rem;
  text-align: center;
}

footer h4 {
  font-size: 1.5rem;
  font-weight: 500;
}

.social_logos {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.social_logos i {
  padding: 5px;
  font-size: 1.2rem;
  cursor: pointer;
}

footer p {
  font-style: italic;
}

@media (min-width: 640px) {
  .nav-link {
    display: flex;
  }

  header .sec_contain {
    justify-content: flex-start;
  }

  .head{
    max-width: 400px;
    align-items: flex-start;
  }

  .head p {
    text-align: left;
  }

  .journey_grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  .show_grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .show_board {
    gap: 0;
  }

  .show_board i {
    font-size: 1.75rem;
  }

  .show_board h4 {
    font-size: 1rem;
  }

  .show_board p {
    font-size: 0.7rem;
  }
}

@media (min-width: 786px) {
  .ban_contain .sec_contain {
    justify-content: flex-end;
  }

  .ban_content {
    align-items: flex-end;
    text-align: right;
    max-width: 800px;
  }

  .show_board {
    gap: 0.5rem;
  }

  .show_board i {
    font-size: 2.5rem;
  }

  .show_board p {
    font-size: 0.8rem;
  }
}

@media (min-width: 1024px) {
  .show_board {
    gap: 1rem;
  }

  .show_board i {
    font-size: 3rem;
  }

  .show_board h4 {
    font-size: 1.5rem;
  }

  .show_board p {
    font-size: 1rem;
  }
}